body {
    background-image: url(images/back.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 5rem;
    color: #D82148;
  }
  
  p {
    font-size: 3rem;
    color: #D82148;
    font-family: 'Indie Flower', cursive;
  }
 
.img-main {
width: 30%;
}

.zoom {

  transition: transform .2s; /* Animation */
  
}

.zoom:hover {
  transform: scale(1.50); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.img-shake {
  animation: img-shake 0.10s infinite ;

}
@keyframes img-shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
  
}